/* color variables and constants */

/* soft: lighter */
/* mute: darker  */

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-mute-1: #F9FBFD;

  --vt-c-black: #000000;
  --vt-c-black-soft-1: rgba(0,0,0,.87);
  --vt-c-black-soft-2: #76787a;

  --vt-c-blue: #170040;
  --vt-c-blue-soft-1: #335eea;

  --vt-c-green: #00E941;
  --vt-c-orange: #DA7212;
  --vt-c-purple: #A612DA;
  --vt-c-red: #C30010;

  /* white theme: wt */
  --vt-c-border-wt: rgba(227,235,246,0.8);
  --vt-c-divider-wt: #e3ebf6;

  /* semantic color variables for this project */
  --color-primary: var(--vt-c-black-soft-1);
  --color-primary-soft: var(--vt-c-black-soft-2);

  --color-secondary: var(--vt-c-blue);
  --color-secondary-soft: var(--vt-c-blue-soft-1);

  --color-background: var(--vt-c-white);
  --color-background-mute: var(--vt-c-white-mute-1);

  --color-white: var(--vt-c-white);
  --color-green: var(--vt-c-green);
  --color-red: var(--vt-c-red);
  --color-orange: var(--vt-c-orange);
  --color-purple: var(--vt-c-purple);

  --color-border: var(--vt-c-border-wt);
  --color-divider: var(--vt-c-divider-wt);

  --color-text: var(--color-primary-soft);
  --color-link: var(--color-secondary-soft);
  --color-heading1: var(--color-primary);
  --color-heading2: var(--color-secondary);
  --color-heading3: var(--color-primary);
  --color-text-button: var(--vt-c-white);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}
*/
