@use "colors.scss";

/* other variables and constants */

:root {
  --medium-text-size: 1rem;
  --large-text-size: 1.25rem;
  --small-text-size: 0.875rem;

  --default-text-size: var(--small-text-size);
  --nav-text-size: 0.9375rem;
  --h1-text-size: 2rem;
  --h2-text-size: var(--large-text-size);
  --h3-text-size: var(--medium-text-size);

  --default-line-height: 1.5;

  --threshold-mobile-width: 1024px;

  --border: var(--color-border) solid 0.1rem;
  --divider: var(--color-divider) solid 0.1rem;

  --box-shadow:  0 0 12px rgba(227,235,246,.2);
  --box-radius: 0.625rem;
}