@use "reset.scss";
@use "colors.scss";
@use "constants.scss";
@use "fonts.scss";
@use "mixins.scss";

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: var(--default-line-height);
  font-family:var(--default-font-style);
  font-size: var(--default-text-size);
}

h1 {
  color: var(--color-heading1);
  font-size: var(--h1-text-size);
  line-height: 140%;
}

h2, legend {
  color: var(--color-heading2);
  font-size: var(--h2-text-size);
  margin-bottom: 1rem;
}

h3 {
  color: var(--color-heading3);
  font-size: var(--h3-text-size);
}

nav {
  font-size: var(--nav-text-size);
}

strong {
  font-weight: bold;
}

a, router-link{
  text-decoration: underline solid var(--color-link);
  color: var(--color-link);
  transition: 0.4s;
  display: inline-block;
}

img {
  width: 100%;
}

button {
  background: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-text-button);
  border-style: none;
  font-size: var(--default-text-size);
  font-family:var(--default-font-style);
}

label {
  display: inline-block;
  color: var(--color-heading3);
  font-size: var(--h3-text-size);
  margin-bottom: 0.5rem;

  span {
    font-weight: bold;
    &:last-of-type {
      color: var(--color-red);
    }
  }

}

input {
  display: block;
  min-height: 2rem;
  width: calc(100% - 2rem);
  padding-left: 1rem;
  padding-right: 1rem;

  border-radius: var(--box-radius);
  border: var(--border);
  border-color: var(--color-secondary-soft);
  color: var(--color-text);
}

select {
  color: var(--color-text);
  height: min-content;
}

.hidden {
  display: none;
}

.no-text-decoration {
  text-decoration: none;
}

.box {
  background-color: var(--color-background);
  border-radius: var(--box-radius);
  border: var(--border);
  padding: 0.5rem 1rem;
}

.bottom-buttons {
  @include mixins.flex(row-reverse, space-between);
  margin-top: auto;
}


.important {
  color: var(--color-secondary);
  font-weight: bold;
  font-size: 2rem;
}

.main-content {
  /* 5rem is height from content header */
  height: calc(100% - 5.1rem); /* IMPORTANT FOR SCROLL ON OVERFLOW!!! */
  min-height: 35rem; /* IMPORTANT FOR SCROLL ON OVERFLOW!!! */
  min-width: 35rem; /* IMPORTANT FOR SCROLL ON OVERFLOW!!! */

  &:after {
    content: ".";
    color: transparent;
    margin-bottom: 2rem;
  }

}

.tile {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  > header h2 {
    flex: 1 1 10%;
    font-size: var(--medium-text-size);
    color: var(--color-text);
    margin: 0;
    padding: 0;
  }

  > main {
    flex: 1 1 90%;
  }
}

.flex-gap-row {
  display: flex;
  gap: 1rem;
}

.flex-gap-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex-center-row {
  @include mixins.flex(row, center, center);
}

.flex-center-col{
  @include mixins.flex(column, center, center);
}

.flex-center-vertical {
  display: flex;
  align-items: center;
}

.flex-align-top {
  display: flex;
  align-items: start;
}

.flex-space-between-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-space-between-col{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (hover: hover) {
  a, button, router-link {
    cursor: pointer;
  }
}

