@use "../defaults/colors.scss";
@use "../defaults/constants.scss";
@use "../defaults/fonts.scss";

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  font-weight: bold;
  color: var(--color-heading);
  text-align: left;
  border-bottom: var(--border);
}

tbody {

  tr {
    &:nth-child(odd) {
      background-color: var(--color-background-mute);
    }
    &:nth-child(even) {
      background-color: var(--color-background-soft);
    }
  }
}

.exercise-name {
  width: 80%;
}

.exercise-weight {
  width: 20%;
}